.badge {background-color: tomato;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 500;}

.badge-sm{
    background-color: tomato;
    color: white;
    width: 8px;
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}